<p class="font-form">
	<table width="450" border="0" class="table-form">
		<tr>
			<td colspan="2"><input type="search" name="name" size="50" placeholder="Buscar.." class="color-input">
			</td>
		</tr>
		<tr>
			<th><input type="text" name="text1" placeholder="Ingresar texto" class="color-input"></th>
			<th><input type="text" name="text2" placeholder="Escribiendo texto:focus" class="color-input-shadow">
			</th>
		</tr>
		<tr>
			<th><label for="apellido" class="color-label">Nombre Campo: </label></th>
			<th><input type="text" name="campotexto0" placeholder="Desactivado" class="color-input-shadow-des">
			</th>
		</tr>
		<tr>
			<td rowspan="2"><textarea placeholder="Ingresar Texto" class="color-input"></textarea></td>
			<td>
				<input id="option" type="checkbox" name="field" value="option">
				<label for="option">Ingenieria</label>				
			</td>
		</tr>
		<tr>
			<td>
				<input type="radio" name="gender" value="female"> Administracion
			</td>
		</tr>
		<tr>
			<td><label for="apellido" class="color-label"> Nombre Campo: </label></td>
			<td><label for="apellido" class="color-label"> Materia: </label></td>
		</tr>
		<tr>
			<td>
				<select name="select" class="color-select">
					<option value="" disabled selected>-- Seleccionar --</option>
				</select>
			</td>	
			<td>
				<select name="select" class="color-input-shadow">
					<option value="value1" >Ingenieria</option> 
					<option value="value2 " >Administracion</option>
					<option value="value3" >Arquitectura</option>
					<option value="" disabled selected >-- Seleccionar--</option>
				</select>
			</td>
		</tr>
	</table>
</p>