<p>
	<input type="text" name="Buscar"  >
	<br/>  <br/>
	<label for="nombre">Nombre: </label>
	<input type="text" name="nombre" id="nombre">
	<br/> <br/>
	<label for="apellido">Apellido: </label>
	<input type="text" name="apellido" id="apellido">
	<br/> <br/>
	<input type="radio" name="Sexo" id="varon" value="Varón">
	<label for="varon">Varon: </label>
	<br/> <br/>
	<input type="radio" name="Sexo" id="mujer" value="Mujer">
	<label for="mujer">Mujer: </label>
	<br/> <br/>
	<select name="select">
	  <option value="value1">Ingenieria</option> 
	  <option value="value2" selected>Administracion</option>
	  <option value="value3">Arquitectura</option>
	</select>
	<br/> <br/>
	<input type="submit" value="Enviar">
	<input type="reset">
</p>