<div class="hyperlink"><strong>Estilos de hipervinculos</strong>
 <!-- Estilos ordenados mediante tablas -->
  <table>
     <tr>
      <td>Estilo Hover</td>
      <td> </td>
      <td>Estilo normal / active / visited</strong></td>
     </tr>
     <tr>
       <td> <div class="link1"><a href="www.google.com.mx"> hipervinculo # 1 </a> </div>
       </td>
       <td> </td>
       <td> <div class="link1n"><a href="www.google.com.mx"> hipervinculo # 1 </a> </div> </td>
     </tr>
     <tr>
       <td><div class="link2"><a href="www.google.com.mx"> hipervinculo # 2 </a></div> </td>
       <td> </td>
       <td><div class="link2n"><a href="www.google.com.mx"> hipervinculo # 2 </a></div></td>
     </tr>
     <tr>
      <td><div class="link3"><a href="www.google.com.mx"> hipervinculo # 3 </a></div> </td>
      <td> </td>
      <td><div class="link3n"><a href="www.google.com.mx"> hipervinculo # 3 </a></div> </td>
     </tr>
      <tr>
        <td> </td>
        <td> </td>
     </tr>
       <tr>
       <td><div class="link4"><a href="www.google.com.mx"> hipervinculo # 4 </a></div> </td>
     </tr>
     <tr>
      <td> </td>
     </tr>
  </table>
</div>
