<!-- Navbar -->
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <%= render 'sidebar_theme' %>
</div>

<!-- Content -->
<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
  <div class="bg-white"><p>Basic template</p></div>
</div>
