<!-- Navbar -->
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <%= render 'sidebar_theme' %>
</div>

<!-- Content -->
<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
  <div class="bg-white">

    <div class="encabezado text-center">Encabezados</div>

    <div class="container-fluid">
    	<div class="row">


    		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    			<h1>Subtitulos - H1 30px</h1>
          <p class="text-left">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

          <h2>Subtitulos - H2 18px</h2>
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

    		</div>


    		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    			<h3>Subtitulos - H3 14px</h3>
          <p class="text-right">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

    			<h4>Justificado 14px</h4>
    			<p class="text-justify">
    				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    			</p>
    		</div>

    	</div>
    </div>

  </div>

</div>

