<div class="admin-sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Categorías", admin_categories_path %></li>
    <li><%= link_to "Etiquetas", admin_labels_path %></li>
    <li><%= link_to "Posts", admin_posts_path %></li>
  </ul>
</div>
