<!-- COMIENZA BREADCUMBS -->
<div class="breadcumb">
	<ul class="list-inline">
  	<li><a href="#" class="cl-effect-12 cl-12-blue color-blue">Más Recientes</a></li>
  	<li><a href="#" class="cl-effect-12 cl-12-blue color-blue">Más Comentadas</a></li>
  	<li><a href="#" class="cl-effect-12 cl-12-blue color-blue">Más Leidas</a></li>
	</ul>
</div>

