<section id="content">
  <div id="profile_pic"></div>
  <div id="head"></div>
  <h1>utrujillo</h1>
  <div class="hiper-container">
    <a href="#" class="cl-effect-1 color-gray">http://www.utrujillo.com</a>
  </div>
  <p class="text-justify">
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <div class="social-network">
    <ul>
      <a href="https://twitter.com">
        <li >
          <h2>
            <img src="/images/twitter-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
      <a href="https://www.snapchat.com">
        <li>
          <h2>
            <img src="/images/snapchat-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
      <a href="https://www.instagram.com/">
        <li>
          <h2>
            <img src="/images/instagram-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
      <a href="https://www.facebook.com/">
        <li>
          <h2>
            <img  src="/images/facebook-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
    </ul>
  </div>
</section>


