<div class="row">
	<!-- Primer opcion de post -->
	<div class="col-md-6">
			<div class=" post-margin">
				<div class="encabezado post-title">
					<h2 class="post-content-center">Los bichos en R3 (X,Y,Z)</h2>
				</div>
				<div class="post-image-wideopen">
					<img src="/images/star-wars-wallpaper.jpg" class="image-wide" style="float: right;">
				</div>	
				<div class="post-overflow">
					<p class="post-text-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
					</p>			
					<p class="post-text-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
					</p>			
				</div>
				<div>
					<p class="autor">Autor: <p class="nombre-autor">utrujillo <a href="#" class="cl-effect-14 bg-gray color-gray link-align-right"><span>Leer Más</span></a></p>
					</p>
				</div>
	    </div>
		</div>
	<!-- Segunda opcion de post -->
	<div class="col-md-6">
		<div class="post-margin">
			<div class="encabezado">
			<h2 class="post-title">Los bichos en R3 (X,Y,Z)</h2>
			</div>	
			<div class="post-image-wideopen">
				<img src="/images/lol.jpg" class="image-center" style="float: right;">
			</div>	
			<div class="post-overflow">
				<p class="post-text-content-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
				</p>				
			</div>
			<div>
				<p class="autor">Autor:  <p class="nombre-autor">utrujillo <a href="#" class="cl-effect-18 bg-green link-align-right"><span>Leer más</span></a></p>
				</p>
			</div>
		</div>
	</div>
	<!-- Tercera opcion de post -->
</div>
<div class="row">
	<div class="col-md-6">
		<div class="post-margin">
			<div class="encabezado">
			<h2 class="post-content-center">Los bichos en R3 (X,Y,Z)</h2>
			</div>	
			<div class="post-image-wideopen">
				<img src="/images/transparent.png" class="image-video-wide" style="float: right;">
			</div>	
			<div class="post-overflow">
				<p class="post-text-content-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
				</p>				
			</div>
			<div>
				<p class="autor">Autor:  <p class="nombre-autor">utrujillo<a href="#" class="cl-effect-1 color-red link-align-right">Leer más ...</a></p></p>
			</div>
		</div>
	</div>
</div>
