<div class="row">
	<!-- Primer opcion de post -->
	<div class="col-md-6 col-xs-12">
		<div class="post-margin">
			<!-- Tiitulo -->
			<div class="padding-15">


						<h2 class="text-center wrap-overflow"> biCHOS EN 3</h2>
						</div>
						<!-- Imagen -->
						<div class="post-image-wideopen">
							<img src="/images/image.png" class="image-wide">
						</div>
						<!-- Cuerpo -->
						<div class="post-overflow">
							<p class="text-center">item.contenido</p>
						</div>
						<!-- Pie de post -->
						<div class="padding-15">
							<span class="autor">Autor</span>
							<span class="nombre-autor">utrujillo</span>
							<a href="#" class="cl-effect-1 color-green pull-right">Leer más ...</a>
						</div>
			    </div>
				</div>

	<!-- Segunda opcion de post -->

	<!-- Tercera opcion de post -->
</div>
