
			<% @posts.each do |item| %>
			<!-- Primer opcion de post -->
			<div class="col-md-6 col-xs-12">
				<div class="post-margin">
					<!-- Tiitulo -->
					<div class="padding-15">


						<h2 class="text-center wrap-overflow"> <%=raw item.titulo %> </h2>
					</div>
					<!-- Imagen -->
					<div class="post-image-wideopen">
						<img src="/images/image.png" class="image-wide grow">
					</div>
					<!-- Cuerpo -->
					<div class="post-overflow">
						<p class="text-center"> <%=raw item.contenido %>
						</p>
					</div>
					<!-- Pie de post -->
					<div class="padding-15">
						<span class="autor"></span>
						<span class="nombre-autor"><%=raw item.user.nombre_usuario %></span>
						<a href="#" class="cl-effect-1 color-green pull-right"><%= link_to "Leer más", post_path(item.id) %></a>
					</div>
		    	</div>
			</div>
			<%  end %>
