<table>
  <tr>
    <th>Label:</th>
    <td><%= @label.nombre_etiqueta %></td>
  </tr>
</table>

<%= link_to "Regresar", admin_labels_path %>
<%= link_to "Editar", admin_labels_path %>
<%= link_to "Eliminar", admin_labels_path %>
