<h1>Editar Post</h1>

<%= render "form" %>
<%= link_to "Eliminar", admin_post_path(@post), method: :delete, data: { confirm: 'Seguro de eliminar el post?' }%>
<%= link_to "Regresar", admin_posts_path %>
