<div class="jumbotron">
  <h1>Bienvenido Spartano!</h1>
  <p>Ahora estas en la interface administrativa, podras modificar el contenido de la página principal, ten cuidado, la información y los elementos que cambies seran modificados y vistos por los visitantes</p>
</div>
