<div style="padding: 15px;">

  <!-- Formulario de comentarios -->
  <form class="custom-form">
    <div class="form-group">
      <textarea rows="5" class="form-control"></textarea>
    </div>

    <input type="submit" name="commit" value="Publicar comentario" class="estilo_btn2 btn-block">
  </form>

</div>
