<!-- Titulo -->
<div class="padding-15">
	<h1 class="text-left wrap-overflow">El ultimo gran ataque DDos</h1>
</div>
<!-- Imagen -->
<div class="post-image-area">
	<img src="/images/image.png" class="image-post-complete grow">
</div>
&nbsp;
<!-- Autor y fecha -->
<div class="padding-15">
	<i class="fa fa-user pull-left autor icon-align" aria-hidden="true"></i>
  <span class="autor">Autor</span>
	<span class="nombre-autor">utrujillo</span>
	<div class="pull-right">
    <i class="fa fa-calendar-o pull-left autor icon-align" aria-hidden="true"></i>
		<span class="autor">Fecha:</span>
		<span class="nombre-autor">2016-09-11</span>
	</div>
	&nbsp;
</div>
<!-- Cuerpo -->
<div class="padding-15">
	<p class="text-justify">La situación de falta de seguridad en millones de dispositivos del internet de las cosas es tan grave que lanzar un ataque a gran escala con la posibilidad de paralizar medio internet no solo es posible, sino que podría haberse perpetrado por personas que no necesariamente tienen grandes conocimientos técnicos. Y no hay nada que podamos hacer.
	</p>
	<p class="text-justify">El ataque DDoS del viernes 21 de octubre que dejó sin servicio a Dyn y por consecuencia a decenas de webs, servicios y varias redes sociales como Twitter, Reddit, Github, Amazon, Spotify y otros fue perpetrado usando una vulnerabilidad existente en millones de accesorios, dispositivos y electrodomésticos conectados a la red, también conocido como el Internet de las Cosas.
	</p>
	<p class="text-justify">Lo confirma Flashpoint Intel, una firma de seguridad informática quienes han concluido que parte de la infraestructura responsable para el ataque de negación de servicio distribuido (DDoS) en contra de Dyn fueron botnets que usaron Mirai para explotar una vulnerabilidad en sus firmwares y sistemas operativos.
	</p>
	<p class="text-justify">Cabe destacar que Mirai fue publicado bajo una licencia de software libre por lo que cualquier persona puede obtenerla y usarla para dirigir ataques coordinados y masivos de denegación de servicio. Mirai es capaz de afectar a impresoras, cámaras de vigilancia o routers caseros.
	</p>
	<p class="text-justify">Mirai es efectivo porque cientos de miles, probablemente millones de dispositivos del internet de las cosas funcionan con el usuario y contraseña asignado de forma predeterminada, en muchos casos tan simples como usuario admin, contraseña admin* o contraseñas tipo 123, 12345 o 1111. El malware se aprovecha de esto, accede y los infecta. Con poder computacional suficiente, es posible hacer un scan de cientos de miles de estos dispositivos e infectarlos en pocos minutos para dirigir un ataque coordinado, como el ocurrido el 21 de octubre.
	</p>
	<p class="text-justify">La situación actual es especialmente grave ya que la mayoría de los dispositivos afectados con Mirai provienen de un mismo proveedor, XiongMai Technology, una compañía china que vende componentes electrónicos incluídos en una gran porcentaje de dispositivos del internet de las cosas, según explica Brian Krebs en su blog. El usuario y contraseña predeterminado en estos componentes es root/xc3511. Datos que la mayoría de fabricantes no cambian nunca, reduciendo aún más el nivel de seguridad.
	</p>
</div>
<!-- Slider -->
<div id="carousel-example-generic" class="carousel slide carousel-control-1 slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner slide-size">
    <div class="item active slide-size">
      <img src="/images/blue.png" alt="...">
      <div class="carousel-caption">
      	<h3>Spartans</h3>
      </div>
    </div>
    <div class="item slide-size">
      <img src="/images/blue.png" alt="...">
      <div class="carousel-caption">
      	<h3>Spartans</h3>
      </div>
    </div>
    <div class="item slide-size">
      <img src="/images/blue.png" alt="...">
      <div class="carousel-caption">
      	<h3>Spartans</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
