<!-- Titulo -->
<div class="padding-15">
	<h1 class="text-center"><%= @post.titulo%></h1>
</div>
<!-- Autor y fecha -->
<div class="padding-15">
	<i class="fa fa-user pull-left autor icon-align" aria-hidden="true"></i>
  <span class="autor">Autor</span>
	<span class="nombre-autor"><%= current_user.nombre_usuario %></span>
	<div class="pull-right">
    <i class="fa fa-calendar-o pull-left autor icon-align" aria-hidden="true"></i>
		<span class="autor">Publicado:</span>
		<span class="nombre-autor"><%= time_ago_in_words(@post.created_at) %></span>
	</div>
	&nbsp;
</div>
<!-- Cuerpo -->
<div class="padding-15">
	<p class="text-justify">
    <%=raw @post.contenido %>
	</p>
</div>

<%# render 'slider' %>
