<div class="admin-comment padding-15">
  <div class="avatar">
    <img src="/images/stormtruper.jpg" alt="avatar"><div class="circulo"></div>
  </div>
  <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore consectetur repudiandae, debitis laboriosam dolor illo aliquid quisquam minima sunt recusandae tenetur, omnis beatae libero, rem reprehenderit est soluta placeat.</div>
</div>

<div class="user-comment padding-15">
  <div class="avatar">
    <img src="/images/snapchat-logo.png" alt="avatar"><div class="circulo"></div>
  </div>
  <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore consectetur repudiandae, debitis laboriosam dolor illo aliquid quisquam minima sunt recusandae tenetur, omnis beatae libero, rem reprehenderit est soluta placeat.
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore consectetur repudiandae, debitis laboriosam dolor illo aliquid quisquam minima sunt recusandae tenetur, omnis beatae libero, rem reprehenderit est soluta placeat.</p>
  </div>
</div>
