<section id="content">
  <div id="profile_pic"></div>
  <div id="head-posts-x"></div>
  <h1>spartans-team</h1>
  <div class="hiper-container">
    <a href="https://spartan-uaa.herokuapp.com/" class="cl-effect-1 color-gray">spartans web</a>
  </div>
  <div class="quote-space">
    <blockquote >Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</blockquote>
  </div>
  <div class="social-network">
    <ul>
      <a href="https://twitter.com">
        <li >
          <h2>
            <img src="/images/twitter-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
      <a href="https://www.snapchat.com">
        <li>
          <h2>
            <img src="/images/snapchat-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
      <a href="https://www.instagram.com/">
        <li>
          <h2>
            <img src="/images/instagram-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
      <a href="https://www.facebook.com/">
        <li>
          <h2>
            <img  src="/images/facebook-logo.png" width="60" height="60"/>
          </h2>
        </li>
      </a>
    </ul>
  </div>
</section>

