<!-- Container-fluid -->
<div class="container">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><%= render 'home/breadcumbs' %></div>
  </div>

  <div class="row">

    <!-- Posts -->
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
      <div class="bg-white"><%= render 'content_post' %></div>
      <div class="bg-white"><%= render 'content_post_form_comment' %></div>

    </div>

    <!-- Card -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="bg-white"><%= render 'user_card' %></div>
    </div>
  </div>

</div>
