.banner-style1{
	display: flex;
	position: relative;
	width: 100%;
	height: 200px;
	background-image: url('/images/blue.png');
	vertical-align: middle;
	margin-bottom: 10px;
	padding-bottom: 10px;
	align-items: center;

}
	.title-blog{
		position: absolute;
		font-size: 3vw;
		text-align: center;
		vertical-align: middle;
		color: white;
		height: 50%;
		margin: -25px 50px;
		padding: 0px 10px;
	}
	.spartan-logo{
		width: 100%;
		height: 100%;
	}
	.leyenda{
		position: absolute;
		font-size: 2vw;
		text-align: center;
		height: 500%;
		margin: -10px 50px;
		padding: 0px 10px;
		color: white;
		vertical-align: middle;
	}

		.border-radius50{
			position: relative;
			height: 50%;
			width: 50%;
			border-radius: 50%;
			vertical-align: middle;
			padding: 0px 10px;
			margin:10px 100px;
		}

