 /*Comiezan los tipos de botones*/
 /*Comieza .estilo_btn1 */

  .estilo_btn1{
    text-decoration:none;
    background:#ADD5F7;
    color:white;
    border-radius:5px 5px 5px 5px;    /* tamaño de bordes*/
    border:1px solid#ADD5F7;
    padding:10px 10px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }
  
  .estilo_btn2{
    text-decoration:none;
    background:#ADD5F7;
    color:white;
    border-radius:5px 5px 5px 5px;    /* tamaño de bordes*/
    border:1px solid#ADD5F7;
    padding:10px 10px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

  .estilo_btn2:hover{
    text-decoration:none;
    background:#4E7AC7;
    border:1px solid#ADD5F7;
    }

  .estilo_btn3{
    text-decoration:none;
    background:#ADD5F7;
    color:white;
    border-radius:5px 5px 5px 5px;    /* tamaño de bordes*/
    border:1px solid;
    padding:10px 10px; 
    }

  .estilo_btn3:active{
    background:#4E7AC7;
    border:1px solid#16193B;
    -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, .7);
    box-shadow:0px 0px 3px rgba(0, 0, 0, .7);
    }
  
  .estilo_btn4{
    text-decoration:none;
    background:#ECF3F1;
    border-radius:5px 5px 5px 5px;    /* tamaño de bordes*/
    border:1px solid #ECF3F1 ;
    padding:10px 10px; 
    }
 /************************************************************************************************************

                    Comienza Botones- estilo 2
 *************************************************************************************************************/
  .estilo_btn5{
    text-decoration:none;
    background:#36CC7C; 
    color:white; 
    border:1px solid#36CC7C;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }
      
  .estilo_btn5{
    box-shadow:0px 3.7px 0px 0px #81bf81;
    font-family:Verdana;
    font-size:14px;
    }

  .estilo_btn6{
    text-decoration:none;
    background:#36CC7C; 
    color:white; 
    border:1px solid#36CC7C;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }
      
  .estilo_btn6:hover{
    box-shadow:inset 0px -4px 0px #77A668;
    font-family:Verdana;
    font-size:14px;
    }
  
  .estilo_btn7{
    text-decoration:none;
    background:#77A668; 
    color:white; 
    border:1px solid#77A668;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }
      
  .estilo_btn7:active{
    box-shadow:1.0px 3.8px .5px 1.5px #228765;
    font-family:Verdana;
    font-size:14px;
    }
    
  .estilo_btn8{
    text-decoration:none;
    background:#ECF3F1; 
    border:1px solid#ECF3F1;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }
      
  .estilo_btn8{
    box-shadow:0px 2px 0px 0px #68A797;
    font-family:Verdana;
    font-size:14px;
    }
  /************************************************************************************************************

                    Comienza Botones- estilo 3
  *************************************************************************************************************/
  .estilo_btn9{
    text-decoration:none;
    background:#F19890; 
    color:white; 
    border:1px solid#FCFCFC;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

  .estilo_btn9{
    box-shadow:-3px 0px 0px 0px #E74C3C,inset 7px 7px 0px #FCFCFC,inset -153px -7px 0px #FCFCFC;
    font-family:Verdana;
    font-size:14px;
    }

  .estilo_btn10{
    text-decoration:none;
    background:#E74C3C;
    color:white; 
    border:2px solid#F19890;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

  .estilo_btn10:hover{
    box-shadow:inset 7px 7px 0px #FCFCFC,inset -153px -7px 0px #FCFCFC;
    font-family:Verdana;
    font-size:14px;
    }

  .estilo_btn11{
    text-decoration:none;
    background:#F19890; 
    color:#E74C3C; 
    border:2px solid#F19890;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

  .estilo_btn11:active{
    box-shadow:inset 7px 7px 0px #F9F3F2,inset -150px -7px 0px #F9F3F2,0px 0px 3px 0px #F19890;
    font-family:Verdana;
    font-size:14px;
    }

  .estilo_btn12{
    text-decoration:none;
    background:#ECF3F1; 
    border:2px solid#76BFAC;
    padding:10px 67px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }
      
  .estilo_btn12{
    font-family:Verdana;
    font-size:14px;
    }
  /************************************************************************************************************

                    Comienza Tamaño de Botones
  *************************************************************************************************************/
  .estilo_btn13{
    text-decoration:none;
    background:#ADD5F7; 
    font-size:18px;
    color:white;
    text-decoration: none; 
    border:1px solid#ADD5F7;
    padding:17px 45px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

  .estilo_btn14{
    text-decoration:none;
    background:#36CC7C; 
    font-size:15px;
    color:white;
    text-decoration: none; 
    border:1px solid#36CC7C;
    padding:11px 50px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

  .estilo_btn15{
    text-decoration:none;
    background:#F9F3F2; 
    font-size:14px;
    color:#F19890; 
    text-decoration: none;
    border:1px solid#F9F3F2;
    padding:8px 50px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

  .estilo_btn16{
    text-decoration:none; 
    background:#91BED4; 
    font-size:14px;
    color:white; 
    text-decoration: none;
    border:2px solid#D9E8F5;
    padding:3px 45px;  /*Manipular el espacio interno orden manesillas del reloj*/
    }

/******************************************************************************
                                  Botones
******************************************************************************/

/* Estilos Generales y compartidos */
.estilo_btn1,
.btn1_disabled,
.estilo_btn2,
.btn2_disabled,
.estilo_btn3,
.btn3_disabled{
  padding:10px;  /*Manipular el espacio interno orden manesillas del reloj*/
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.st-lg{ font-size: 18px; padding: 15px; }
.st-sm{ font-size: 10px; padding: 7px;  }
.st-xs{ font-size: 10px; padding: 2px;  }

/* Estilo Boton 1 */
.estilo_btn1{
  border-radius: 5px;
  background:#7FB2F0;
  border:1px solid #7FB2F0;
  color: #FCFCFC;
}

.estilo_btn1:hover{
  background:#4E7AC7;
  border:1px solid #4E7AC7;
  text-decoration: none;
  color: #FCFCFC;
}

.estilo_btn1:active{
  background: #4E7AC7;
  border: 1px solid #35478C;
  -webkit-box-shadow: 0 0 4px #666;
  box-shadow: 0 0 4px #666;
  text-shadow: 0 2px 4px #333;
}

.btn1_disabled{
  background: #ECF3F1;
  border-radius: 5px;
  border: 1px solid #ECF3F1;
  color: #585858;
  opacity: 1!important;
}

/* Estilo Boton 2 */
.estilo_btn2{
  background:#36CC7C;
  color: #FCFCFC;
  -webkit-box-shadow: inset 0 -2px 0 #77A668;
  box-shadow: inset 0 -2px 0 #77A668;
}

.estilo_btn2:hover{
  background:#36CC7C;
  color: #FCFCFC;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -2px 0 #228765;
  box-shadow: inset 0 -2px 0 #228765;
}

.estilo_btn2:active{
  background: #77A668;
  color: #FCFCFC;
  border: 1px solid #228765;
  -webkit-box-shadow: inset 0 -2px 0 #228765, 0 0 4px 0 #228765;
  box-shadow: inset 0 -2px 0 #228765, 0 0 4px 0 #228765;
}

.btn2_disabled{
  background: #ECF3F1;
  color: #585858;
  opacity: 1!important;
  -webkit-box-shadow: inset 0 -2px 0 #68A797 !important;
  box-shadow: inset 0 -2px 0 #68A797 !important;
}

/* Estilo Boton 3 */
.estilo_btn3{
  background: #FCFCFC;
  color: #E74C3C;
  -webkit-box-shadow: inset 3px 0 0 #E74C3C;
  box-shadow: inset 3px 0 0 #E74C3C;
}

.estilo_btn3:hover{
  color: #C0392B;
  text-decoration: none;
  -webkit-box-shadow: inset 3px 0 0 #E74C3C, inset 0 0 0 1px #F19890;
  box-shadow: inset 3px 0 0 #E74C3C, inset 0 0 0 1px #F19890;
}

.estilo_btn3:active{
  background: #F9F3F2;
  color: #E74C3C;
  -webkit-box-shadow: inset 0 0 4px #F19890, inset 0 0 0 1px #F9F3F2;
  box-shadow: inset 0 0 4px #F19890, inset 0 0 0 1px #F9F3F2;
}

.btn3_disabled{
  background: #ECF3F1;
  color: #585858;
  opacity: 1!important;
  -webkit-box-shadow: inset 0 0 0 1px #76BFAC !important;
  box-shadow: inset 0 0 0 1px #76BFAC !important;
}

