*::-webkit-input-placeholder { 
    color: #76BFAC;
}
.color-input{
	color:#FCFCFC
}
	.color-input-shadow{
		color:#76BFAC; ;
		border-width:1px;
	 	box-shadow: 0px 0px 5px 1px;
		border-style: solid; 
	}
		.color-input-shadow-des{
			color:#76BFAC; ;
			border-width:1px;
		 	box-shadow: 0px 0px 5px 1px;
			border-style: solid; 
			background: #ECF3F1;
		}
	.color-select{
		font-size:11pt;
		font-color:#228765;
		 border-color:#585858;
	}
.color-label{
	color: #76BFAC;
}
.table-form td,th{
	padding: 10px;
}
