/*----------------------------------------------------------------------------------------------------------
							            Encabezados, Subtitulos y Parrafos
------------------------------------------------------------------------------------------------------------*/
h0,h1,h2,h3
.encabezado {
color: #585858;
font-family: "Arial";
}
h0{font-size: 50px;}
h1{ font-size: 30px;}
h2{font-size: 18px;}
h3{font-size: 14px;}

	    .ancho{
		width: 500px;
		padding: 10px;
		text-align: left;
		font-size: 14px;
			}
		
		.ancho1{
		width: 500px;
		padding: 10px;
		text-align: center;
		font-size: 14px;
			}
			
		.ancho2{
		width: 500px;
		padding: 10px;
		text-align: right;
		font-size: 14px;
			}

		.ancho3{
		width: 500px;
		padding: 10px;
		text-align: justify;
		font-size: 14px;
			}
/******************************************************************************
                              Estilos Generales
******************************************************************************/
.clearfix{ clear:both; }
.fuente{ font-family: Monospace; }

/******************************************************************************
                              Estilos Generales
******************************************************************************/
h1,h2,h3,h4,p
.encabezado {
  color:#585858;
  font-family:"Arial";
}
.encabezado{font-size: 50px;}

h1{font-size: 30px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h4{font-size: 14px;}

.fuente{ font-family: Monospace; }


/******************************************************************************
                              Colores de texto
******************************************************************************/
.color-blue{ color: #4E7AC7; }
.color-blue:hover{ color: #35478C; }

.color-green{ color: #36CC7C; }
.color-green:hover{ color: #77A668; }

.color-gray{ color: #76BFAC; }
.color-gray:hover{ color: #68A797; }

.color-pink{ color: #CC8FAB; }
.color-pink:hover{ color: #7F3357; }

.color-red{ color: #E74C3C; }
.color-red:hover{ color: #C0392B; }



