/*----------------------------------------------------------------------------------------------------------
							            Encabezados, Subtitulos y Parrafos
------------------------------------------------------------------------------------------------------------*/

h1,h2,h3,h4
.encabezado {
		color:#585858;
		font-family:"Arial";
	}

h1{font-size: 30px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h4{font-size: 14px;}

.encabezado{font-size: 50px;}

.txt-left {text-align: left;} 
.txt-right{text-align: right;}
.txt-center{text-align: center;}
.txt-justify{text-align: justify;}