/******************************************************************************
                              Estilos Generales
******************************************************************************/
h1,h2,h3,h4,p
.encabezado {
	color:#585858;
	font-family:"Arial";
}
.encabezado{font-size: 50px;}

h1{font-size: 30px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h4{font-size: 14px;}

.fuente{ font-family: Monospace; }
