/********************************************************************
                            Generales
********************************************************************/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bg-blue::before, .bg-blue::after { background: #35478C; }
.bg-green::before, .bg-green::after { background: #77A668; }
.bg-gray::before, .bg-gray::after { background: #68A797; }
.bg-pink::before, .bg-pink::after { background: #7F3357; }
.bg-red::before, .bg-red::after { background: #F19890; }

  a[class^="cl-effect"] {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: .8em;
    line-height: 1.3em;
  }

  a[class^="cl-effect"]:hover,
  a[class^="cl-effect"]:focus {
    outline: none;
  }
    /********************************************************************
                                Efecto 1
     ********************************************************************/
    .cl-effect-1::before,
    .cl-effect-1::after {
      display: inline-block;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
    }

    .cl-effect-1::before {
      margin-right: 10px;
      content: '[';
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      transform: translateX(20px);
    }

    .cl-effect-1::after {
      margin-left: 10px;
      content: ']';
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      transform: translateX(-20px);
    }

    .cl-effect-1:hover::before,
    .cl-effect-1:hover::after,
    .cl-effect-1:focus::before,
    .cl-effect-1:focus::after {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }
    /********************************************************************
                                Efecto 5
     ********************************************************************/
    .cl-effect-5 {
      overflow: hidden;
      padding: 0 4px;
      height: 1em;
    }

    .cl-effect-5 span {
      position: relative;
      display: inline-block;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    }

    .cl-effect-5 span::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      font-weight: 700;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    .cl-effect-5:hover span,
    .cl-effect-5:focus span {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    /********************************************************************
                                Efecto 7
     ********************************************************************/
    .cl-effect-7{
      padding: 12px 10px 10px;
      text-shadow: none;
      font-weight: 700;
    }

    .cl-effect-7::before,
    .cl-effect-7::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: scale(0.85);
      -moz-transform: scale(0.85);
      transform: scale(0.85);
    }

    .cl-effect-7::after {
      opacity: 0;
      -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
      transition: top 0.3s, opacity 0.3s, transform 0.3s;
    }

    .cl-effect-7:hover::before,
    .cl-effect-7:hover::after,
    .cl-effect-7:focus::before,
    .cl-effect-7:focus::after {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }

    .cl-effect-7:hover::after,
    .cl-effect-7:focus::after {
      top: 0%;
      opacity: 1;
    }

    /********************************************************************
                                Efecto 10
     ********************************************************************/
    .cl-effect-10  {
      position: relative;
      z-index: 1;
    }

    .cl-effect-10 {
      overflow: hidden;
      margin: 0 15px;
      color: #f2f2f2;
    }

    .cl-effect-10 span {
      display: block;
      padding: 10px 20px;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    }

    .cl-10-blue span{ background: #4E7AC7; }
    .cl-10-green span{ background: #36CC7C; }
    .cl-10-gray span{ background: #76BFAC; }
    .cl-10-pink span{ background: #CC8FAB; }
    .cl-10-red span{ background: #E74C3C; }

    .cl-effect-10::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      padding: 10px 20px;
      width: 100%;
      height: 100%;
      /*background: #7F3357;*/
      color: #ffffff;
      content: attr(data-hover);
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translateX(-25%);
    }

    .cl-10-blue::before{ background: #35478C; }
    .cl-10-green::before{ background: #77A668; }
    .cl-10-gray::before{ background: #68A797; }
    .cl-10-pink::before{ background: #FF66AD; }
    .cl-10-red::before{ background: #C0392B; }

    .cl-effect-10:hover span,
    .cl-effect-10:focus span {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      transform: translateX(100%);
    }

    .cl-effect-10:hover::before,
    .cl-effect-10:focus::before {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      transform: translateX(0%);
    }

    /********************************************************************
                                Efecto 12
     ********************************************************************/
    .cl-effect-12::before,
    .cl-effect-12::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      content: '';
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
      -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
      transform: translateX(-50%) translateY(-50%) scale(0.2);
    }

    .cl-12-blue::before, .cl-12-blue::after{ border: 2px solid rgba(53,71,140,0.1) }
    .cl-12-green::before, .cl-12-green::after{ border: 2px solid rgba(119,166,104,0.1) }
    .cl-12-gray::before, .cl-12-gray::after{ border: 2px solid rgba(88,88,88,0.1) }
    .cl-12-pink::before, .cl-12-pink::after{ border: 2px solid rgba(127,51,87,0.1) }
    .cl-12-red::before, .cl-12-red::after{ border: 2px solid rgba(192,57,43,0.1) }

    .cl-effect-12::after {
      width: 90px;
      height: 90px;
      border-width: 6px;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
      -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
      transform: translateX(-50%) translateY(-50%) scale(0.8);
    }

    .cl-effect-12:hover::before,
    .cl-effect-12:hover::after,
    .cl-effect-12:focus::before,
    .cl-effect-12:focus::after {
      opacity: 1;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      -moz-transform: translateX(-50%) translateY(-50%) scale(1);
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
    /********************************************************************
                                Efecto 13
     ********************************************************************/
    .cl-effect-13 {
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;
    }

    .cl-effect-13::before {
      position: absolute;
      top: 100%;
      left: 50%;
      color: transparent;
      content: '•';
      text-shadow: 0 0 transparent;
      font-size: 1.2em;
      -webkit-transition: text-shadow 0.3s, color 0.3s;
      -moz-transition: text-shadow 0.3s, color 0.3s;
      transition: text-shadow 0.3s, color 0.3s;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      pointer-events: none;
    }

    .cl-effect-13:hover::before,
    .cl-effect-13:focus::before {
      color:#A4392C;
      text-shadow: 10px 0 #FF66AD, -10px 0 #FF66AD;
    }

    .cl-effect-13:hover,
    .cl-effect-13:focus {
      color:#A4392C;
    }
    /********************************************************************
                                Efecto 14
     ********************************************************************/
    .cl-effect-14{
      padding: 0 20px;
      height: 30px;
      line-height: 30px !important;
    }

    .cl-effect-14::before,
    .cl-effect-14::after {
      position: absolute;
      width: 30px;
      height: 2px;
      content: '';
      opacity: 0.2;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      pointer-events: none;
    }

    .cl-effect-14::before {
      top: 0;
      left: 0;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    .cl-effect-14::after {
      right: 0;
      bottom: 0;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transform-origin: 100% 0;
      -moz-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }

    .cl-effect-14:hover::before,
    .cl-effect-14:hover::after,
    .cl-effect-14:focus::before,
    .cl-effect-14:focus::after {
      opacity: 1;
    }

    .cl-effect-14:hover::before,
    .cl-effect-14:focus::before {
      left: 50%;
      -webkit-transform: rotate(0deg) translateX(-50%);
      -moz-transform: rotate(0deg) translateX(-50%);
      transform: rotate(0deg) translateX(-50%);
    }

    .cl-effect-14:hover::after,
    .cl-effect-14:focus::after {
      right: 50%;
      -webkit-transform: rotate(0deg) translateX(50%);
      -moz-transform: rotate(0deg) translateX(50%);
      transform: rotate(0deg) translateX(50%);
    }
    /********************************************************************
                                Efecto 18
     ********************************************************************/
    .cl-effect-18 {
      position: relative;
      z-index: 1;
    }

    .cl-effect-18{
      padding: 0 5px;
      color: #228765;
      font-weight: 700;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;
    }

    .cl-effect-18::before,
    .cl-effect-18::after {
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      height: 2px;
      margin-top: -1px;
      content: '';
      z-index: -1;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      pointer-events: none;
    }

    .cl-effect-18::before {
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      transform: translateY(-20px);
    }

    .cl-effect-18::after {
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      transform: translateY(20px);
    }

    .cl-effect-18:hover,
    .cl-effect-18:focus {
      color: #304269 ;
    }

    .cl-effect-18:hover::before,
    .cl-effect-18:hover::after,
    .cl-effect-18:focus::before,
    .cl-effect-18:focus::after {
      opacity: 0.7;
    }

    .cl-effect-18:hover::before,
    .cl-effect-18:focus::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .cl-effect-18:hover::after,
    .cl-effect-18:focus::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    /********************************************************************
                                Efecto 21
     ********************************************************************/
    .cl-effect-21 {
      padding: 10px;
      font-weight: 700;
      text-shadow: none;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;
    }

    .cl-effect-21::before,
    .cl-effect-21::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }

    .cl-effect-21::before {
      top: 0;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }

    .cl-effect-21::after {
      bottom: 0;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      transform: translateY(10px);
    }

    .cl-effect-21:hover::before,
    .cl-effect-21:focus::before,
    .cl-effect-21:hover::after,
    .cl-effect-21:focus::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }
