<div class="banner-style1">
	<div class="div1">
		<p class="title-blog"> Spartan Class </p>
	</div>
	<div class="div2">
		<div class="spartan-logo145">
			<img src="/images/spartan1.png" class="border-radius50">
		</div>
	</div>
	<div class="div3">
		<p class="leyenda"> Divide y Venceras</p>
	</div>
</div>
