<footer>
	<div class="pull-left">Derechos reservados © <strong><%= link_to "team-sparta", new_user_session_path, class: "colorfooter"%></strong> 2016 </div>
	<div class="pull-right">Version 0.1</div>
	<div class="clearfix"></div>
</footer>


