<div class="blog-navbar">
    <ul class="topnav" id="responsive-mode-on">
        <%= link_to '<img id="spartan-radio" src="/images/spartan_image.jpg"/>'.html_safe, root_path %>
        <div class="tittle-blog">Spartans</div>
        <li>
          <div class="search-label">
            <label class="search-logo"><i class="fa fa-search"></i></label>
            <input id="search-input" class="form-control"  placeholder="Buscar...">
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button type="submit" class="dropbtn">Categorias</button>
              <div class="dropdown-content">
              <% @categories.each do |item| %>
                <a href="#"> <%= item.nombre_categoria %></a>
              <% end %>
              </div>
          </div>
        </li>
        <li>
            <a href="#contact">Contacto</a>
        </li>
        <li>
            <a href="#news">Inicio</a>
        </li>
        <li class="icon">
          <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
        </li>
    </ul>
</div>
