<div class="blog-navbar">
  <div class="navbar">
    <div class="container-fluid">
          <!--lado izquierdo -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="logo">
              <img id="spartan-radio" src="/images/spartan_image.jpg" width="60" height="60"/>
            </div>
            <div class="fuente">
              <div class="tittle-blog">Spartans</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--lado derecho menu y search-->
          <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <div class="estructure">
             <div class="row">
              <div class="col-lg-8 col-md-9 col-sm-6 col-xs-12">
                <div class="menu-gral">
                <div class="Margen">
                <button type="submit" class="button button1">Inicio</button>
                <button type="submit" class="button button2">Contacto</button>
                <div class="dropdown">
                  <button type="submit" class="dropbtn">Categorias</button>
                      <div class="dropdown-content">
                        <a href="#">HTML</a>
                        <a href="#">CSS</a>
                        <a href="#">FRONT-END</a>
                        <a href="#">BACK-END</a>
                      </div>
                  </div>
                </div>
                </div>
                <div class="clearfix"></div>
              </div>
               <!--Search (buscador input)-->
              <div class="search">
                <input type="text" placeholder="Buscar...">
                  <button type='submit'>
                    <i class='fa fa-stick'></i>
                  </button>
              </div>
             </div>
          </div>
        </div>
     </div>
  </div>
</div>
