<div class="blog-navbar">
  <div class="navbar">
    <div class="container-fluid">
          <!--lado izquierdo -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="logo">
              <%= link_to root_path do %>
                <img id="spartan-radio" src="/images/spartan_image.jpg" width="60" height="60"/>
              <% end %>
            </div>
            <div class="fuente">
              <div class="tittle-blog">Spartans</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--lado derecho menu y search-->
          <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <div class="estructure">
             <div class="row">

              <!-- Menu principal -->
              <div class="col-lg-8 col-md-9 col-sm-6 col-xs-12">
                <div class="menu-gral">
                  <div class="Margen">
                    <button type="submit" class="button button1">Inicio</button>
                    <button type="submit" class="button button2">Contacto</button>
                    <div class="dropdown">
                      <button type="submit" class="dropbtn">Categorias</button>
                      <div class="dropdown-content">
                         <% @categories.each do |item| %>
                        <a href="#"> <%= item.nombre_categoria %></a>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Search bar -->
              <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="search">
                  <label><i class="fa fa-search"></i></label>
                  <input id="search-input" class="form-control" placeholder="Buscar...">
                </div>
              </div>
             </div>
          </div>
        </div>
     </div>
  </div>
</div>
