<<<<<<< HEAD
 <div class="blog-navbar">
    <ul class="topnav" id="responsive-mode-on">
        <img id="spartan-radio" src="/images/spartan_image.jpg" />
        <div class="tittle-blog">Spartans</div>
        <li>
          <div class="search-label">
            <label><i class="fa fa-search"></i></label>
            <input id="search-input" class="form-control"  placeholder="Buscar...">
=======
<div class="blog-navbar">
  <div class="navbar">
    <div class="container-fluid">
          <!--lado izquierdo -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="logo">
              <%= link_to root_path do %>
                <img id="spartan-radio" src="/images/spartan_image.jpg" width="60" height="60"/>
              <% end %>
            </div>
            <div class="fuente">
              <div class="tittle-blog">Spartans</div>
            </div>
            <div class="clearfix"></div>
>>>>>>> master
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button type="submit" class="dropbtn">Categorias</button>
               <div class="dropdown-content">
                  <a href="#">HTML</a>
                  <a href="#">CSS</a>
                  <a href="#">FRONT-END</a>
                  <a href="#">BACK-END</a>
               </div>
          </div>
        </li>
        <li>
            <a href="#contact">Contacto</a>
        </li>
        <li>
            <a href="#news">Inicio</a>
        </li>
        <li class="icon">
          <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
        </li>
    </ul>
</div>

