<div class="navbar">
  <div class="container-fluid">
        <!--lado izquierdo -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="logo">
            <img id="spartan-radio" src="/assets/spartan_image.jpg" width="60" height="60"/>
          </div>
          <div class="fuente">
            <div class="tittle-blog">Spartans</div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--lado derecho menu y search-->
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
          <div class="estructure">
            <div class="row">
            <div class="col-lg-8 col-md-9 col-sm-6 col-xs-12">
              <div class="menu-gral\">
                <ul class="nav">
                  <li>Inicio</li>
                  <li>Contacto</li>
                  <li>Categorias</li>
                </ul>
              </div>
             <div class="clearfix"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
             <!--Search (buscador input)-->
             <input type="text" class="input-search">
             <div class="tittle-blog-search">Buscar</div>
            </div>
           </div>
        </div>
      </div>
   </div>
</div>
