<!DOCTYPE html>
<html lang="es">
<head>
  <title>Navbar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximun-scales=1"/>
  <link rel="stylesheet" href="C:\Users\Ranferi\Desktop\spartans\Git_spartan\spartans\app\assets\stylesheets\navbar.css">
</head>
    <body>
        <nav>
          <ul>
          <IMG id ="spartan" SRC="spartan_image.jpg" WIDTH=60 HEIGHT=85 BORDER=2 VSPACE=3 HSPACE=3 ALIGN=left >
            <li><a href="#" align=center>Espartanos</a></li>
            <li><a href="#">Categorias</a>
              <ul>
                <li>  <a href="#">Programacion</a>
                      <ul>
                        <li><a href="#">Agregar texto</a></li>
                        <li><a href="#">Agregar texto</a></li>
                        <li><a href="#">Agregar texto</a></li>
                      </ul>
                </li>

                 <li>
                      <a href="#">Base de datos</a>
                      <ul>
                        <li><a href="#">Agregar texto</a></li>
                        <li><a href="#">Agregar texto</a></li>
                        <li><a href="#">Agregar texto</a></li>
                      </ul>

                 </li>

                <li>  <a href="#">Ocio</a>
                      <ul>
                        <li><a href="#">Agregar texto</a></li>
                        <li><a href="#">Agregar texto</a></li>
                        <li><a href="#">Agregar texto</a></li>
                   </ul>


                 </li>

      </ul>



        </li>
        <li><a href="#">buscar</a></li>

        <div id="searchwrapper"><form action="">
<input type="text" class="searchbox" name="s" value="" />
<input type="image" src="lupa.png" class="searchbox_submit" value="" WIDTH=30 HEIGHT=30 />
</form>
</div>

      </ul>



</nav>

</body>
</html>
