<div id="searchwrapper"><form action="">
<input type="text" class="searchbox" name="s" value="" />
<input type="image" src="lupa.png" class="searchbox_submit" value="" WIDTH=30 HEIGHT=30 />
</form>
</div>
