<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicito cambiar su contrase単a, puede dar click en el enlace de abajo para continuar.</p>

<p><%= link_to 'Cambiar mi contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicito cambiar la contrase単a, ignore este correo.</p>
<p>Su contrase単a no cambiara hata que sigua el enlace de arriba.</p>
