<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ah sido bloqueada temporalmente debido a multiples intentos fallidos.</p>

<p>Dar click en el enlace de abajo para desbloquear:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
